<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navbar">

        <div class="navbar-left">
            <a href="/">
                <img src="/pokeball.png" class="discord-logo" alt="Pokeball">
            </a>

            <!-- <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a> -->
    
            <a href="/runners" class="<%= currentPath === '/runners' ? 'active' : '' %>">Runners</a>

            <% if (username) { %>
                <% if (role === 'runner') { %>
                    <a href="/races/submit" class="<%= currentPath === '/submit-race' ? 'active' : '' %>">Submit Race</a>
                <% } %>
            <% } %>
    
            <a href="/races" class="<%= currentPath === '/races' ? 'active' : '' %>">Upcoming Races</a>
            <a href="/past-races" class="<%= currentPath === '/past-races' ? 'active' : '' %>">Past Races</a>
        </div>
        <div class="navbar-right">
            <% if (username) { %>
                <div class="user-info">
                    <div>
                        <img src="<%= profileImage %>" alt="<%= username %>" class="avatar">
                        <span><%= displayName %></span>
                    </div>
    
                    <form action="/logout" method="POST" class="logout-form">
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </div>
            <% } else { %>
                <a href="/login" class="login-button">
                    <img src="/discord-logo-white.png" alt="Discord logo" class="discord-logo">
                    Login
                </a>
            <% } %>
        </div>
    </nav>    

    <div class="container">
        <%- body %>
    </div>
    
</body>
</html>
