<% if (races.length > 0) { %>
    <div class="races">
        <% races.forEach(race => { %>
            <div class="race-card">
                <div class="race-title">
                    <%= new Date(race.datetime * 1000).toLocaleString() %> UTC
                </div>
                
                <div class="racers">
                    <div class="racer">
                        <%= race.racer1.displayName || race.racer1.discordUsername %>
                    </div>
                    
                    <% if (race.racer2) { %>
                        <div class="racer">
                            <%= race.racer2.displayName || race.racer2.discordUsername %>
                        </div>
                    <% } %>
                    
                    <% if (race.racer3) { %>
                        <div class="racer">
                            <%= race.racer3.displayName || race.racer3.discordUsername %>
                        </div>
                    <% } %>
                </div>

                <% if (username == race.racer1.discordUsername) { %>
                    <a class="button" href="/admin/complete-race/<%= race._id %>">
                        Edit
                    </a>
                <% } %>

                <% if (isAdmin) { %>
                    <a class="button" href="/admin/complete-race/<%= race._id %>">
                        Complete Race
                    </a>
                <% } %>

            </div>
        <% }) %>
    </div>
<% } else { %>
    <p>No upcoming races found.</p>
<% } %>
